.pago-tarjeta .label {
  margin-right: 8.3px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.pago-tarjeta .vector {
  width: 10.5px;
  height: 6px;
}
.pago-tarjeta .essential-icon {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.pago-tarjeta .nav-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pago-tarjeta .label-1 {
  margin-right: 7.9px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.pago-tarjeta .vector-1 {
  width: 10.5px;
  height: 6px;
}
.pago-tarjeta .essential-icon-1 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.pago-tarjeta .menu-item-default {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pago-tarjeta .label-2 {
  margin-right: 8.7px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.pago-tarjeta .vector-2 {
  width: 10.5px;
  height: 6px;
}
.pago-tarjeta .essential-icon-2 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.pago-tarjeta .menu-item-default-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pago-tarjeta .label-3 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.pago-tarjeta .vector-3 {
  width: 10.5px;
  height: 6px;
}
.pago-tarjeta .essential-icon-3 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.pago-tarjeta .menu-item-default-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pago-tarjeta .label-4 {
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.pago-tarjeta .menu-item-default-3 {
  display: flex;
  box-sizing: border-box;
}
.pago-tarjeta .left-nav {
  margin: 0 113.1px 538px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 571.9px;
  box-sizing: border-box;
}
.pago-tarjeta .smartjourney {
  margin: 26px 10px 8px 0;
  display: inline-block;
  width: 962.6px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: #000000;
}
.pago-tarjeta .connect-wallet {
  margin: 10px 0 4px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: #000000;
}
.pago-tarjeta .image-7 {
  background: url('assets/images/Image7.png') 50% / cover no-repeat;
  width: 56px;
  height: 54px;
}
.pago-tarjeta .container {
  margin: 0 23px 206px 16.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1167.4px;
  box-sizing: border-box;
}
.pago-tarjeta .image-10 {
  background: url('assets/images/Image10.png') 50% / cover no-repeat;
  margin-bottom: 168px;
  align-self: flex-start;
  width: 971px;
  height: 543px;
}
.pago-tarjeta .image-9 {
  background: url('assets/images/Image9.png') 50% / cover no-repeat;
  align-self: flex-end;
  width: 1172px;
  height: 650px;
}
.pago-tarjeta {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0 52px 244px 107px;
  width: 1366px;
  box-sizing: border-box;
}
