.realidad-virtual .smartjourney {
  margin: 57px 128.6px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: #000000;
}
.realidad-virtual .label {
  margin-right: 8.3px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.realidad-virtual .vector {
  width: 10.5px;
  height: 6px;
}
.realidad-virtual .essential-icon {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.realidad-virtual .nav-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.realidad-virtual .label-1 {
  margin-right: 7.9px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.realidad-virtual .vector-1 {
  width: 10.5px;
  height: 6px;
}
.realidad-virtual .essential-icon-1 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.realidad-virtual .menu-item-default {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.realidad-virtual .label-2 {
  margin-right: 8.7px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.realidad-virtual .vector-2 {
  width: 10.5px;
  height: 6px;
}
.realidad-virtual .essential-icon-2 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.realidad-virtual .menu-item-default-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.realidad-virtual .label-3 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.realidad-virtual .vector-3 {
  width: 10.5px;
  height: 6px;
}
.realidad-virtual .essential-icon-3 {
  margin: 8px 0 6px 0;
  display: flex;
  width: 10.5px;
  height: 6px;
  box-sizing: border-box;
}
.realidad-virtual .menu-item-default-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.realidad-virtual .label-4 {
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: var(--neutral-900, #111827);
}
.realidad-virtual .menu-item-default-3 {
  display: flex;
  box-sizing: border-box;
}
.realidad-virtual .left-nav {
  margin: 0 156.3px 1081px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 571.9px;
  height: fit-content;
  box-sizing: border-box;
}
.realidad-virtual .connect-wallet {
  margin: 41px 60.2px 4px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--body-sm-semi-bold-font-family, 'Inter');
  font-weight: var(--body-sm-semi-bold-font-weight, 600);
  font-size: var(--body-sm-semi-bold-font-size, 14px);
  line-height: var(--body-sm-semi-bold-line-height, 1.429);
  color: #000000;
}
.realidad-virtual .image-7 {
  background: url('assets/images/Image7.png') 50% / cover no-repeat;
  margin-top: 31px;
  width: 56px;
  height: 54px;
}
.realidad-virtual {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0 75px 0 123.6px;
  width: 1366px;
  box-sizing: border-box;
}
