.wireframe-4 .video-en-360-grados-hotel-decameron-cartagena-colombia {
  margin: 0 102px 97px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 0.4;
  color: #000000;
}
.wireframe-4 .image-19 {
  background: url('assets/images/Image19.png');
  margin: 0 58px 94px 20px;
  width: 2059px;
  height: 1153px;
}
.wireframe-4 .sumrgete-en-la-belleza-natural-del-ro-celeste-en-costa-rica-disfruta-de-una-corta-caminata-entre-la-extica-flora-yfauna-hasta-llegar-ala-impresionante-cascada-que-cae-en-una-piscina-de-aguas-turquesas-refrscate-con-un-chapuzn-mientras-te-maravillas-con-el-entorno-una-experiencianica-para-compartir-con-amigos-ofamiliares-ycrear-recuerdos-especiales {
  margin: 0 88.7px 296px 24px;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
  color: #000000;
}
.wireframe-4 .categoria-rio-naturaleza {
  margin: 0 1389.1px 103px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 0.4;
  color: #000000;
}
.wireframe-4 .al-comprar-el-paquete-turistico-recibiras-gafas-de-realidad-virtual-para-que-puedas-sentir-que-estas-dentro-de-tu-proximo-destino {
  margin: 46px 43.3px 141px 0;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 0.4;
  color: #000000;
}
.wireframe-4 .virtual-reality-and-meta-casestudy-v-20512221 {
  background: url('assets/images/VirtualRealityAndMetaCasestudyV20512221.jpeg') 50% / cover no-repeat;
  width: 443px;
  height: 247px;
}
.wireframe-4 .container {
  margin: 0 0 130px 46px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.wireframe-4 .al-comprar-el-paquete-de-viaje-estara-incluido-costos-sobre-transporte-hospedaje-alimentacion-yseguros-medicos {
  margin: 0 27px 148px 27px;
  display: inline-block;
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 0.4;
  color: #000000;
}
.wireframe-4 .driving-costa-rica-blog-900-x-6001 {
  background: url('assets/images/DrivingCostaRicaBlog900X6001.png') 50% / cover no-repeat;
  margin: 4px 67px 0 0;
  width: 455px;
  height: 324px;
}
.wireframe-4 .cr-hotel-gran-hotel-costa-rica-curio-collection-hilton-facade-1 {
  background: url('assets/images/CrHotelGranHotelCostaRicaCurioCollectionHiltonFacade1.jpeg') 50% / cover no-repeat;
  margin: 4px 80px 0 0;
  width: 496px;
  height: 324px;
}
.wireframe-4 .costa-rican-foods-1 {
  background: url('assets/images/CostaRicanFoods1.jpeg') 50% / cover no-repeat;
  margin: 0 67px 4px 0;
  width: 484px;
  height: 324px;
}
.wireframe-4 .costa-rica-hospital-1 {
  background: url('assets/images/CostaRicaHospital1.png') 50% / cover no-repeat;
  width: 457px;
  height: 328px;
}
.wireframe-4 .container-2 {
  margin: 0 31px 178.7px 0;
  display: flex;
  flex-direction: row;
  width: 2106px;
  box-sizing: border-box;
}
.wireframe-4 .medios-de-pago-tarjetas-de-credito-obitcoin {
  margin: 88.3px 123.3px 88.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 50px;
  line-height: 0.4;
  color: #000000;
}
.wireframe-4 .vector {
  width: 203.1px;
  height: 130.5px;
}
.wireframe-4 .fluentpayment-28-filled {
  margin: 32.6px 178px 33.6px 0;
  display: flex;
  width: 203.1px;
  height: 130.5px;
  box-sizing: border-box;
}
.wireframe-4 .vector-1 {
  width: 200.8px;
  height: 196.7px;
}
.wireframe-4 .mdibitcoin {
  display: flex;
  width: 200.8px;
  height: 196.7px;
  box-sizing: border-box;
}
.wireframe-4 .container-1 {
  margin: 0 39px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.wireframe-4 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 275px 87px 115.7px 188px;
  width: 2412px;
  box-sizing: border-box;
}
